body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.image {
  display: block;
  position: relative;
  float: left;
  height: auto;
  overflow: hidden;
}

._button {
  display: block;
  position: relative;
  float: left;
  width: 6.3333333333%;
  height: 34px;
  margin-top: 63px;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.image-1 {
  clear: both;
  z-index: 6;
  width: 329px;
  margin: 10px 0 0 1.5989583333%;

}

.image-2 {
  clear: both;
  z-index: 7;
  width: 329px;
  margin: -230px 0 0 28.7994791666%;
}

.image-3 {
  z-index: 8;
  width: 329px;
  margin: -230px 0 0 56.2161458333%;
}

.image-4 {
  z-index: 1;
  width: 350px;
  margin: 23px 0 0 1.59896%;
}

.image-5 {
  z-index: 2;
  width: 350px;
  margin: 23px 0 0 1.47917%;
}

.image-6 {
  z-index: 1;
  width: 235px;
  margin: 327px 0 0 1.01563%;
}

.image-7 {
  z-index: 2;
  width: 235px;
  margin: -349px 0 0 79.67578%;
}

#add_btn {
  z-index: 0;
  margin-left: 33.5%;
}

#shw_btn {
  z-index: 1;
  margin-left: 20.91667%;
}

#container_show_form{
  margin-left: 90%;
}
.container {
  position: relative;
  overflow: hidden;
}
.door-left, .door-right {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0%;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3;
}
.door-left {
  left: 0%;
  background-color: rgb(91,96,106);
}
.door-right {
  left: 50%;
  background-color: rgb(229,211,211);
}
.container:hover .door-left{
  left: -50%;
}
.container:hover .door-right{
  left: 100%;
}


.container {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 60%;
  height: 200px;
}

#door-left, #door-right {
  position: absolute;
  height: 200%;
  width: 50%;
  top: 0%;
  transition: all ease 0.9s;
  -moz-transition: all ease 0.9s;
  -webkit-transition: all ease 0.9s;
  -o-transition: all ease 0.9s;
  -ms-transition: all ease 0.9;
      background: linear-gradient(to right,
                            transparent 0%,
                            transparent calc(50% - 0.81px),
                            black calc(50% - 0.8px),
                            black calc(50% + 0.8px),
                            transparent calc(50% + 0.81px),
                            transparent 100%);
}
#door-left {
    left: 0%;
    background-color: rgb(91,96,106);
}
#door-right {
    left: 50%;
    background-color: rgb(229,211,211);
}
.container:hover #door-left{
    left: -50%;
}
.container:hover #door-right{
    left: 100%;
}

#cabinet_items_show {
  margin-top: 10px
}



.doorOpen
{
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(105deg);
}

#fridge1
{
  z-index: 0;
  position:relative;
  width:300px;
  height:500px;

  margin: 0 auto;
  margin-top:25px;
}

#fridge2
{
  z-index: 0;
  position:relative;
  width:300px;
  height:500px;

  margin: 0 auto;
  margin-top:25px;
}

.door1
{
  background-color: silver;
  position:absolute;
  top:0px;
  left:0px;
  width:275px;
  height:320px;
  border-radius: 10px;

  transform-origin: right;
  /*Speed of the Door animation*/
  transition: all 0.9s ease-in-out;
  margin-left: 20px;
  margin-top: 0px;
}

.door2
{
  background-color: silver;
  position:absolute;
  top:0px;
  left:0px;
  width:275px;
  height:320px;
  border-radius: 10px;

  transform-origin: right;
  /*Speed of the Door animation*/
  transition: all 0.9s ease-in-out;
  margin-left: 380px;
  margin-top: 424px;
}


.backDoor1
{
  background-color: lightgrey;
  position:relative;
  width:200px;
  height:300px;

  margin: 0 auto;
  margin-top:424px;
}


.backDoor2
{
  background-color: lightgrey;
  position:relative;
  width:200px;
  height:300px;

  margin: 0 auto;
  margin-top:50px;
}

body
{
  background-color:#039be5;
}

.container
{
  display: inline-block;
  font-size: 3vw;
  color: yellow;
  text-align: center;
  text-shadow: 3px 2px black;
  margin-left: 4%;
  margin-right: 4%;
}

.alert {
padding: 8px 35px 8px 14px;
margin-bottom: 20px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background-color: #fcf8e3;
border: 1px solid #fbeed5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
  color: #000;

    transform-origin: left;
  transform:rotateY(180deg);
  opacity:0;
  animation-name: go;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  width:350px;
}
@keyframes go {
  100%{
    opacity:1;
    transform:rotateY(0deg);
  }
}



.wrapper {
    position: absolute;
    margin: auto;
    top: 50vh;
    left: 50vw;
}



#add_btn_button_button-2 {
  position: absolute;
  left: -120px;
}

#shw_btn {
  position: absolute;
}
